*

# Allow src folder
!/sra_dispatch
!/sra_dispatch/*.py

# allow assets and config directories
!/assets
!/assets/modules
!/assets/static_files
!/config

# Allow SRA pulldown files
!/assets/modules/*.py
!/assets/static_files/*.py
!/assets/static_files/*.fasta*
!/assets/static_files/*.gbk

# Allow standard Git files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!requirements.txts

# Allow scripts and configurations that are specific to CHTC
!/assets/download_sra_batches.sh
!/config/*.json

# Allow test files
!/tests
!/tests/*.py
!/tests/*.json

